<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block "title" %}{% endblock %} - @teletrapbot</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/journal/bootstrap.css" crossorigin="anonymous">


  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
  <style>
    * {
      font-family: 'Spectral', serif !important;
    }

    h2 {
      margin: 1em auto;
      text-align: left;
      padding-bottom: 0.5em;
      border-bottom: 1px gray solid;
      margin-bottom: 0.5em;
    }

    h2 .date {
      font-size: 50%;
      color: gray;
      display: block;
    }

    .container {
      max-width: 800px;
    }

    .article p:last {
      margin-bottom: 0;
    }

    .article {
      margin-bottom: 1em;
      border-bottom: 1px gray solid;
      padding-bottom: 0;
    }
  </style>

</head>
<body>
  <div class="container">
    {% block "body" %}
    {% endblock %}

    <p>Сделано с <a href="http://tg.me/teletrapbot">http://tg.me/teletrapbot</a>, <a href="{% url 'page' '' %}">инструкции</a></p>
  </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127229584-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127229584-1');
</script>

</body>
</html>