{% extends "base.html" %}

{% block "title" %}{{ object.channel.name }} | {{ object.timestamp }} | Teletrap{% endblock %}

{% block "body" %}
<h2>
  {{ object.channel.name }}
  <small class="date">{{ object.timestamp }}</small>
</h2>

<div class="article">
  <div class="referral">
    <a href="https://vpnlove.me/" target="_blank" rel="noopener">
      Не видно пост? Подключите VPN! <br/>
      <img class="alignleft wp-image-30495 size-full" src="https://rublacklist.net/media/2017/07/1024%D1%85133-3.png" alt="VPNlove.me" width="100%">
    </a>
  </div>
  {{ object.html|safe }}
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{ request.path }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ request.path }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://teletrap.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(function() {
    setInterval(function() {
      if ($('.referral').length && $(".article iframe").length) {
        $('.referral').hide();
      }
    }, 100);
  });
</script>

{% endblock %}